*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
app/google-services.json
app/src/main/res/google-play-imgs
app/src/main/assets/database/database.db
accountDeletion/my-speechy-firebase-adminsdk-g7v3g-48589351f8.json
app/release